#input {
    position: relative;
    top: 80px;
    left: 500px
}

#startmoney {
    width: 50px;
    height: 30px;
}

#start {
    position: relative;
    top: 30px;
    left: 25px;
    width: 120px;
    height: 40px;
    font-size: 20px;
}

#Title {
    position: relative;
    font-size: 50px;
    text-align: center;
}

body {
    background-size: 1000px 600px;
    font-family: Microsoft JhengHei;
}

table {
    text-align: center;
    border-collapse: collapse;
}

td {
    vertical-align: middle;
    WIDTH: 80;
    border: 3px solid black;
    font-weight: bold;
    background-color: white;
}

tr {
    vertical-align: middle;
}

#throw_dice {
    position: relative;
    top: 180px;
    left: 530px;
    WIDTH: 100px;
    height: 50px;
}

#playerthrow {
    color: red;
    position: relative;
    top: 180px;
    left: 500px;
    WIDTH: 100px;
    height: 50px;
}

#totalstep {
    font-size: 50px;
    position: relative;
    top: -60px;
    left: 140px;
    WIDTH: 100px;
    height: 100px;
}

#board {
    position: absolute;
    top: 0px;
    left: 0px
}

#red {
    position: relative;
    top: 670px;
    left: 1050px;
}

#yellow {
    position: relative;
    top: 670px;
    left: 1050px
}

#green {
    position: relative;
    top: 670px;
    left: 1050px
}

#blue {
    position: relative;
    top: 670px;
    left: 1050px
}

#playerMoney {
    position: relative;
    top: 0px;
    left: 0px
}

#player1Money {
    color: red;
    width: 400px;
    position: relative;
    top: 0px;
    left: 200px;
    border: 2px red solid;
}

#player2Money {
    color: yellow;
    width: 400px;
    position: relative;
    top: 0px;
    left: 500px;
    border: 2px yellow solid;
}

#player3Money {
    color: green;
    width: 400px;
    position: relative;
    top: 270px;
    left: 200px;
    border: 2px green solid;
}

#player4Money {
    color: blue;
    width: 400px;
    position: relative;
    top: 270px;
    left: 500px;
    border: 2px blue solid;
}

span {
    font-size: 30px;
    -webkit-text-stroke: 0.3px #000;
}

#onboard {
    width: 80px;
}

#fateword {
    position: relative;
    top: -100px;
    left: 830px;
}

#chanceword {
    position: relative;
    top: -100px;
    left: 210px;
}